<form id="editing-form">
  <label for="careerLevel">Career level name</label>
  <input type="text" id="careerLevel" name="careerLevel" required>

  <label for="trainingTerm">Training term</label>
  <input type="text" id="trainingTerm" name="trainingTerm" required>

  <button id="editing-submit-btn" type="submit"></button>
</form>
<div id="message-window"></div>