<form id="editing-form">
  <label for="schoolName">School name</label>
  <input type="text" id="schoolName" name="schoolName" required>

  <label for="description">Description</label>
  <textarea id="description" name="description" rows="4" required></textarea>

  <label for="link">link</label>
  <input type="text" id="link" name="link" required>

  <button id="editing-submit-btn" type="submit"></button>
</form>
<div id="message-window"></div>