* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #151515;
}

#container {
  margin: 0 auto;
  padding: 10px 0;
  height: 100vh;
}

#logout {
  display: flex;
  justify-content: end;
}

#logout-btn {
  background: #151515;
  color: #b2b1b1;
  font-size: 16px;
  height: 50px;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
}

#logout-btn:hover {
  background: #562929;
  color: #b2b1b1;
}

#logout-btn:active {
  background: #b2b1b1;
  color: rgb(185, 21, 21);
}

.admin-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin-top: 10px;
  background: #b2b1b1;
  text-align: center;
  display: block;
}

ul {
  background: #151515;
  list-style: none;
  width: 100%;
}

li {
  text-align: center;
  font-size: 14px;
  background: #b2b1b1;
  cursor: pointer;
  padding: 4px;
  border-radius: 5px;
  margin: 2px;
  position: relative;
}

li:hover {
  background: #838383;
}

li:active {
  background: #e7e5e5;
}

#content {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#content-data {
  width: 100%;
}

#content-data li {
  max-width: 80%;
}

#content-editing {
  background: #b2b1b1;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

#categories {
  padding: 20px;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

#categories li {
  width: 100px;
}

#category-content,
#category-content ul {
  flex-direction: column;
  padding: 10px 5px;
}

.content-editing-btn,
.content-info-btn {
  width: 20px;
  height: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 4px;
}

li .info-btn {
  left: 24px;
}

li .create-btn {
  right: -24px;
}

li .update-btn {
  right: -48px;
}

li .delete-btn {
  right: -72px;
}

li .links-btn {
  color: rgb(8, 8, 150);
  left: 48px;
}

.create-btn {
  color: rgb(33, 176, 33);
}

.update-btn {
  color: rgb(181, 181, 37);
}

.delete-btn {
  color: rgb(185, 21, 21);
}

/*editing-form*/
#editing-form {
  font-size: 14px;
  background: #e9e9e9;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#editing-form label {
  display: block;
  margin-bottom: 8px;
}

#editing-form input,
textarea {
  font-size: 12px;
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

#editing-form textarea {
  resize: vertical;
}

#editing-form button {
  font-size: 16px;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 120px;
  margin: 0 auto;
}

#editing-form .create-btn {
  background: rgb(0, 255, 0);
}

#editing-form .update-btn {
  background: rgb(219, 233, 14);
}

#editing-form .delete-btn {
  background: rgb(255, 0, 0);
}

#message-window {
  margin-top: 20px;
  text-align: center;
}

#message-window.error {
  color: rgb(255, 0, 0);
}

#message-window.success {
  color: rgb(33, 176, 33);
}

/*info window*/
#content-editing h3,
h4 {
  padding: 5px;
}

#content-editing p {
  padding: 5px 5px 5px 20px;
  max-height: 200px;
  overflow: auto;
}

#content-editing ul {
  background: none;
}

#content-editing li,
#content-editing p,
#content-editing h4 {
  font-size: 14px;
}

#content-editing li {
  text-align: start;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
}

#content-editing .content-editing-btn {
  width: 25px;
  height: 25px;
  font-size: 14px;
  top: 2px;
}

#content-editing h3 .content-editing-btn {
  position: relative;
  margin-left: 20px;
}

#content-editing li .delete-btn {
  right: 0px;
}

#content-editing .drop-down-list {
  background: #5b5555;
  height: 100%;
  overflow: auto;
}

#content-editing .drop-down-list li {
  background: #5b5555;
  padding: 5px;
  margin: 0;
  border-radius: 0;
}

#content-editing .drop-down-list li:hover {
  font-weight: bold;
  border: 1px solid #b2b1b1;
}

#content-editing .drop-down-list li:active {
  color: #b2b1b1;
  font-weight: bold;
  border: none;
}

#content-editing a img {
  width: 200px;
}

@media (min-width: 768px) {
  #content-data li {
    max-width: 90%;
  }
}

@media (min-width: 1024px) {
  #container {
    padding: 20px 60px;
  }

  li {
    font-size: 16px;
    padding: 6px;
    margin: 3px;
  }

  #categories li {
    width: 120px;
  }

  #content {
    flex-direction: row;
  }

  #content-data {
    width: 50%;
  }

  #content-editing {
    width: 40%;
    height: 80vh;
  }

  #content-data li {
    max-width: unset;
  }

  .content-editing-btn,
  .content-info-btn {
    width: 24px;
    height: 24px;
    font-size: 20px;
  }

  li .info-btn {
    left: 30px;
  }

  li .create-btn {
    right: -30px;
  }

  li .update-btn {
    right: -60px;
  }

  li .delete-btn {
    right: -90px;
  }

  li .links-btn {
    color: rgb(8, 8, 150);
    left: 60px;
  }

  /*editing-form*/
  #editing-form {
    font-size: 16px;
  }

  #editing-form input,
  textarea {
    font-size: 14px;
  }

  #editing-form button {
    font-size: 18px;
    width: 140px;
  }

  /*info window*/
  #content-editing li,
  #content-editing p,
  #content-editing h4 {
    font-size: 16px;
  }

  #content-editing .content-editing-btn {
    font-size: 16px;
  }
}

@media (min-width: 1440px) {
  #container {
    padding: 50px 100px;
  }

  li {
    font-size: 20px;
    padding: 10px;
    margin: 5px;
  }

  #categories li {
    width: 160px;
  }

  .content-editing-btn,
  .content-info-btn {
    width: 30px;
    height: 30px;
    font-size: 24px;
  }

  li .info-btn {
    left: 36px;
  }

  li .create-btn {
    right: -36px;
  }

  li .update-btn {
    right: -72px;
  }

  li .delete-btn {
    right: -108px;
  }

  li .links-btn {
    color: rgb(8, 8, 150);
    left: 72px;
  }

  /*editing-form*/
  #editing-form {
    font-size: 20px;
  }

  #editing-form input,
  textarea {
    font-size: 16px;
  }

  #editing-form button {
    font-size: 20px;
    width: 180px;
  }
}
